* {
    margin-bottom: 1rem;
}

#inputText {
    height: 7rem;
    width: 21rem;
    display: block;
}

#sendButton {
    height: 2rem;
    width: 21rem;
}

#outputArea {
    border: solid lightblue 2px;
    min-height: 7rem;
    width: 21rem;
}